body {
    background-color: #111;
    margin: 0;
}

h1 {
    font-family: "Bungee Outline", sans-serif;
    background-color: #474747;
    font-size: 65px;
}

html {
    scroll-behavior: smooth;
}

.iphone-img {
    width: 350px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 40px;
}

.col-md-6 p {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2;
}
.para32 {
    font-family: "Megrim", sans-serif;
}