body {
    background-color: #111;
    margin: 0;
}

h1 {
    font-family: "WDXL Lubrifont SC", sans-serif;
    background-color: goldenrod;
}

html {
    scroll-behavior: smooth;
}

.iphone-img {
    width: 350px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 40px;
}

.col-md-6 p {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}